@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT&display=swap&subset=latin-ext');





@import "./bootstrap/bootstrap.scss";

@import "./navbar";
@import "./tellingStory";
@import "./textBanner";

.imgFullWidth {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none !important;

}

body {
    margin-bottom: 0 !important;
}

.postContent {
    font-family: 'Playfair Display', serif;
    padding-top: 50px;
    color: #303030;

    &__text {
        padding-top: 20px;
        padding-bottom: 20px;
        margin: 0 auto;
        margin-bottom: 50px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }

    &__img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__item {
            margin-bottom: 15px;
        }
    }
}

.postListing {
    width: 95%;

    &__button {
        margin-bottom: 35px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        &__link {
            background-color: #be9367;
            font-family: 'Montserrat', sans-serif;
            font-size: 0.6rem;
            color: white !important;
            text-transform: uppercase;
            padding: 10px 25px;
        }
    }

    &__imgHover {
        position: relative;

        &::after {
            content: " ";
            background-color: #f3e8db;
            display: block;
            position: absolute;
            height: 96%;
            width: 100%;
            z-index: -1;
            top: 0;
            left: 0;
            transition: 0.4s;
        }

        &:hover::after {
            top: 32px;
            left: -26px;
        }
    }

    &__item {

        position: relative;

        margin-bottom: 30px;

        @media only screen and (min-width: 992px) {
            margin-left: 20px;
            margin-right: 20px;
        }

        &__title {
            margin-top: 25px;
            font-family: 'Playfair Display', serif;
            font-size: 1.4375rem;
            letter-spacing: 0em;
            word-spacing: 0.01em;
            line-height: 1.25em;
            text-transform: none;
            font-weight: normal;
            color: black !important;

        }

        &__desc {
            font-family: 'Montserrat', sans-serif;
            font-size: 0.6875rem;
            letter-spacing: 0em;
            word-spacing: 0em;
            line-height: 2.02em;
            color: black !important;

        }
    }
}

.movieListMain {
    background-color: #f3e8db;
    .postListing__button{
        margin-bottom: 0;
    }

    &__link {
        color: #fff;
        background-color: black;
        margin-bottom: 35px !important;
    }

    &__item {
        text-align: center;
        padding-top: 35px;

        &__title {
            display: inline;
            font-family: 'Old Standard TT', serif;
            font-size: 25px;
            border-bottom: 1px solid black;

        }

        &__desc {
            margin-top: 5px;
            font-family: 'Montserrat', sans-serif;
            font-size: 12px;
            font-weight: 400;
        }

        &__movie {
            margin-top: -30px;

            @media only screen and (max-width: 992px) {
                margin-top: -47px;
            }

            @media only screen and (max-width: 420px) {
                margin-top: -80px;
            }
        }
    }

    &__textLine {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        position: relative;

        &::after {
            content: '';
            width: 100%;
            border-bottom: solid 1px black;
            position: absolute;
            left: 0;
            top: 30%;
            z-index: 1;
        }

        &__elem {
            background-color: #f3e8db;
            font-family: 'Old Standard TT', serif;
            text-align: center;
            display: inline-block;
            z-index: 3;
            padding: 0 20px 0 20px;
        }
    }
}

.footer {
    position: relative;

    &__backGround {
        height: 120px;
        background-color: #f3e8db;
        width: 100%;
        position: absolute;
        bottom: 0%;
        z-index: -1;

        @media only screen and (max-width: 767px) {
            display: none;
        }
    }

    &__centerIcon {
        margin-left: 15px;
        margin-right: 15px;
    }

    &__left {
        margin-top: 20px;

        @media only screen and (max-width: 893px) {
            margin-top: 7px;
        }
    }

    a {
        color: black;
    }

    &__instagramLink {
        a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }

        span {
            margin-top: 15px;
            font-size: 15px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 200;

            @media only screen and (max-width: 893px) {
                margin-top: 0;
            }
        }
    }

    &__socialLinks {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 50%;
        margin: 0 auto;

        @media only screen and (max-width: 767px) {
            margin-bottom: 25px;
        }

        a {
            margin-top: 25px;
        }
    }
}

#instafeed {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    @media only screen and (max-width: 767px) {
        justify-content: center;
    }


}

#instafeed a img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    margin: 0 5px;

    @media only screen and (max-width: 1159px) {
        height: 150px;
        width: 150px;
    }

    @media only screen and (max-width: 893px) {
        height: 100px;
        width: 100px;
    }

    @media only screen and (max-width: 469px) {
        height: 150px;
        width: 150px;
        margin-bottom: 10px;
    }

    @media only screen and (max-width: 349px) {
        height: 100px;
        width: 100px;
    }
}

.hiddenText {
    margin-bottom: 100px;
    &__readMore{
        display: flex;
        justify-content: center;
    }
    &__hiddenContent{
        max-height: 200px;
        overflow: hidden;
        position: relative;
        &:before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background: linear-gradient(transparent 1px, white);
        }
    }

    &__content {
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        font-weight: 300;
        line-height: 23px;
    }
}

.movieBanner{
    
    @media (min-width: 992px) {
        margin-bottom: 100px;
    }
    position: relative;
    width: 100%;
    //height: 51%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    &__poster{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-fit: cover;
        @media (min-width: 992px) {
            display: none;
        }
    }
    video{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        @media (max-width: 991px) {
            display: none;
        }
    }
    h2{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        font-size: 14vw;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        font-weight: 800;
        line-height: 90%;
        mix-blend-mode: multiply;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 0;
    }
    p{
        
        position: absolute;
        top: 0%;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 3vw;
        text-align: center;
        color: #fff;
        font-weight: 800;
        line-height: 100%;
        font-family: 'Old Standard TT', serif;
        display: flex;
        align-items: center; /** Y-axis align **/
        justify-content: center; /** X-axis align **/
        @media (max-width: 992px) {
            font-size: 5vw;
        }
           
    }
    a{
        position: absolute;
        top: 65%;
        text-align: center;
         line-height: 100%;
         font-family: 'Old Standard TT', serif;
         font-size: 1rem;
         color:#000;
         background-color: #fff;
         text-transform: uppercase;
         padding: 15px 35px;
         z-index: 99999;
         display: flex;
        align-items: center; /** Y-axis align **/
        justify-content: center; /** X-axis align **/
    }
    .link_movie{
        @media (max-width: 992px) {
            display: none;
        }
    }
    
}
.link_movie_second{
    margin-top:20px !important;
    margin-bottom: 20px !important;
    @media (min-width: 992px) {
        display: none;
    }
}
