@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT&display=swap&subset=latin-ext');





@import "./bootstrap/bootstrap.scss";

@import "./navbar";
@import "./tellingStory";
@import "./textBanner";

.imgFullWidth {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none !important;

}

.postContent {
    font-family: 'Playfair Display', serif;
    padding-top: 50px;
    color: #303030;

    &__text {
        padding-top: 20px;
        padding-bottom: 20px;
        margin: 0 auto;
        margin-bottom: 50px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }

    &__img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__item {
            margin-bottom: 15px;
        }
    }
}

.postListing {
    width: 95%;
    &__button{
            margin-bottom: 35px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            &__link{
                background-color: #be9367;
                font-family: 'Montserrat', sans-serif;
                font-size: 0.6rem;
                color: white !important;
                text-transform: uppercase;
                padding: 10px 25px;
            }
    }

    &__imgHover {
        position: relative;

        &::after {
            content: " ";
            background-color: #f3e8db;
            display: block;
            position: absolute;
            height: 96%;
            width: 100%;
            z-index: -1;
            top: 0;
            left: 0;
            transition: 0.4s;
        }

        &:hover::after {
            top: 32px;
            left: -26px;
        }
    }

    &__item {

        position: relative;

        margin-bottom: 30px;

        @media only screen and (min-width: 992px) {
            margin-left: 20px;
            margin-right: 20px;
        }

        &__title {
            margin-top: 25px;
            font-family: 'Playfair Display', serif;
            font-size: 1.4375rem;
            letter-spacing: 0em;
            word-spacing: 0.01em;
            line-height: 1.25em;
            text-transform: none;
            font-weight: normal;
            color: black !important;

        }

        &__desc {
            font-family: 'Montserrat', sans-serif;
            font-size: 0.6875rem;
            letter-spacing: 0em;
            word-spacing: 0em;
            line-height: 2.02em;
            color: black !important;

        }
    }
}

.movieListMain {
    background-color: #f3e8db;
    &__link{
        color : #fff;
        background-color: black;
        margin-bottom: 35px !important;
    }

    &__item {
        text-align: center;
        padding-top: 35px;

        &__title {
            display: inline;
            font-family: 'Old Standard TT', serif;
            font-size: 33px;
            border-bottom: 1px solid black;

        }

        &__desc {
            margin-top: 5px;
            font-family: 'Montserrat', sans-serif;
            font-size: 12px;
            font-weight: 400;
        }

        &__movie {
            margin-top: -30px;
            
            @media only screen and (max-width: 992px) {
                margin-top: -47px;
            }
            @media only screen and (max-width: 420px) {
                margin-top: -80px;
            }
        }
    }

    &__textLine {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        position: relative;
        &::after {
            content: '';
            width: 100%;
            border-bottom: solid 1px black;
            position: absolute;
            left: 0;
            top: 30%;
            z-index: 1;
        }
        &__elem{
            background-color: #f3e8db;
            font-family: 'Old Standard TT', serif;
            text-align: center;
            display: inline-block;
            z-index: 3;
             padding: 0 20px 0 20px;
        }
    }
}