.textBanner {
    text-align: center;
    background-color: rgba(243, 232, 219, 0.76);
    padding-bottom: 50px;
    padding-top: 50px;
    margin-bottom: 50px;

    &__small {
        font-family: 'Montserrat'sans-serif;
        font-size: 12px;
        letter-spacing: 6.8px;
        margin-bottom: 0;
    }

    &__big {
        display: inline;
        font-family: 'Old Standard TT', serif;
        font-size: 47px;
        font-weight: 300;
        margin-bottom: 0;
        position: relative;
        border-bottom: 1px solid black;
    }
}